page-activeorder {
	.r_page_wrapper{
		.card{
			margin-left:0px;
			margin-right:0px;
			margin-top:0px;
			width: 100%;
			img{
				width:50px;
				height:50px;
				object-fit:cover;
			}
			.r_page_list_detail{
				padding:15px;
				padding-left:10px;
				h3{
					color: #656565;
					font-size: 15px;
					overflow: hidden;
  					text-overflow: ellipsis;
				}
				p{
					font-size: 13px;
					color: #656565;
					overflow: hidden;
  					text-overflow: ellipsis;
				}

			}
			.select_btn{
				width: 100%;
				height: 30px;
				border-radius:4px;
				color: #fff;
				text-align: center;
				position: relative;
				height: 30px;
				text-transform: capitalize;
				top: 15px;
			}

		}
	}


}
