<!-- STARTS-HEADER -->

<ion-header class="nav_header theme_background">
<button ion-button class="nav_btn floatLeft">
	 <ion-icon name="ios-arrow-back" (click)="goBack()"></ion-icon>
</button>
<div class="nav_header_title floatLeft font_semibold">
	Assign Table
</div>
<button ion-button class="nav_btn floatRight">
	 <!-- <ion-icon name="ios-menu"></ion-icon> -->
</button>
</ion-header>

<!-- ENDS-HEADER -->

<ion-content padding class="r_page_wrapper theme_white">
<ul>
		<li>C1</li>
		<li>C2</li>
		<li>C3</li>
		<li>C4</li>
		<li>B1</li>
		<li>B2</li>
		<li>B3</li>
		<li>B4</li>
		<li>A1</li>
		<li>A2</li>
		<li>A3</li>
		<li>A4</li>
	</ul>
	<!-- <ion-grid>
	  <ion-row>
	    <ion-col class="textCenter">
	      <div class="table">C1</div>
	    </ion-col>
	    <ion-col class="textCenter">
	     <div class="table">C2</div>
	    </ion-col>
	    <ion-col class="textCenter">
	      <div class="table">C3</div>
	    </ion-col>
	    <ion-col class="textCenter">
	      <div class="table">C4</div>
	    </ion-col>
	  </ion-row>
	  <ion-row>
	    <ion-col class="textCenter">
	      <div class="table">B1</div>
	    </ion-col>
	    <ion-col class="textCenter">
	     <div class="table">B2</div>
	    </ion-col>
	    <ion-col class="textCenter">
	      <div class="table">B3</div>
	    </ion-col>
	    <ion-col class="textCenter">
	      <div class="table">B4</div>
	    </ion-col>
	  </ion-row>
	  <ion-row>
	    <ion-col class="textCenter">
	      <div class="table">A1</div>
	    </ion-col>
	    <ion-col class="textCenter">
	     <div class="table">A2</div>
	    </ion-col>
	    <ion-col class="textCenter">
	      <div class="table">A3</div>
	    </ion-col>
	    <ion-col class="textCenter">
	      <div class="table">A4</div>
	    </ion-col>
	  </ion-row>
	</ion-grid> -->

</ion-content>
