page-assign {
	.r_page_wrapper{
		width:100%;
		background: #f7f8fd;
		height: 100%;
		ul{
			margin:0px;
			padding:0px;
			text-align: center;
			li{
				width:auto;
			    height: 60px;
			    background:#ffffff;
			    list-style: none;
			    display: inline-block;
			    margin: 5px;
			    color: #939393;
			    font-family:semi-bold;
			    border-radius: 5px;
			    padding: 20px;
			    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
			    font-size: 16px;
			}
		}
		.table{
			display: inline-block;
			margin: 5px;
			color: #939393;
			font-family:semi-bold;
			border-radius: 5px;
			height:100%;
			width: 100%;
			background:#ffffff;
			padding: 20px;
			box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
			font-size: 16px;
		}

	}
}
