<!-- STARTS-HEADER -->

<ion-header class="nav_header theme_background">
<button ion-button menuToggle class="nav_btn floatLeft">
	 <ion-icon name="ios-menu"></ion-icon>
</button>
<div class="nav_header_title floatLeft font_semibold">
	Select Branch
</div>
<button ion-button class="nav_btn floatRight">
	 <!-- <ion-icon name="ios-menu"></ion-icon> -->
</button>
</ion-header>

<!-- ENDS-HEADER -->

<!-- STARTS-PAGE-CONTENTS -->

<ion-content class="theme_white">
	<div class="r_page_wrapper">
		<ion-list>
			<ion-card>
				  <ion-card-content>
				  	<ion-grid class="p0">
					  <ion-row>
					    <ion-col col-2 class="p0">
					      <img src="assets/imgs/home/home.png">
					    </ion-col>
					    <ion-col col-6 class="p0">
					    	<div class="r_page_list_detail">
							      <h3 class="font_bold">Holiday inn</h3>
							      <p>Business Bay, Dubai</p>
					 		 </div>
					    </ion-col>
					    <ion-col col-4 class="p0">
					      <button ion-button class="select_btn theme_background" (click)="open_page('NewbookingPage')">Select</button>
					    </ion-col>
					  </ion-row>
					</ion-grid>
				  </ion-card-content>
			</ion-card>
			<ion-card>
				  <ion-card-content>
				  	<ion-grid class="p0">
					  <ion-row>
					    <ion-col col-2 class="p0">
					      <img src="assets/imgs/home/home.png">
					    </ion-col>
					    <ion-col col-6 class="p0">
					    	<div class="r_page_list_detail">
							      <h3 class="font_bold">Holiday inn</h3>
							      <p>Business Bay, Dubai</p>
					 		 </div>
					    </ion-col>
					    <ion-col col-4 class="p0">
					      <button ion-button class="select_btn theme_background">Select</button>
					    </ion-col>
					  </ion-row>
					</ion-grid>
				  	
				  </ion-card-content>
			</ion-card>
		</ion-list>
	</div>
</ion-content>
