page-notification {
	.r_page_wrapper{
		.card{
			margin-left:0px;
			margin-right:0px;
			margin-top:0px;
			width: 100%;
			img{
				width:50px;
				height:50px;
				object-fit:cover;
			}
			.r_page_list_detail{
				padding:8px;
				padding-left:10px;
				h3{
					color: #656565;
					font-size: 15px;
					white-space: nowrap;
 					overflow: hidden;
  					text-overflow: ellipsis;
				}
				p{
					font-size: 13px;
					color: #656565;
					overflow: hidden;
  					text-overflow: ellipsis;
				}

			}
			.select_btn{
				width: 100%;
				height: 30px;
				border-radius:4px;
				color: #fff;
				text-align: center;
				 position: relative;
    			text-transform: capitalize;
    			margin-left: 10px;
    			height: 30px;
			}

			.cancel_btn{
				width: 100%;
				height: 30px;
				border-radius:4px;
				color: #ff8f00;
				text-align: center;
				position: relative;
				text-transform: capitalize;
				border:1px solid #ff8f00;
				background: transparent !important;
				height: 30px;
			}

			.selected_btn{
				width: 100%;
				height: 30px;
				border-radius:4px;
				color: #fff;
				text-align: center;
				 position: relative;
    			text-transform: capitalize;
    			background: #00c853 !important;
    			margin-left: 10px;
    			height: 30px;
			}

		}
	}

}
