<!-- STARTS-HEADER -->

<ion-header class="nav_header theme_background">
<button ion-button class="nav_btn">
	<ion-icon name="ios-arrow-back"></ion-icon>
</button>
</ion-header>

<!-- ENDS-HEADER -->

<!-- STARTS-PAGE-CONTENTS -->

<ion-content padding class="">
	<div class="r_page_wrapper">
		<h3 class="font_weight400 text_color_theme_dark">Welcome back,</h3>
		<h4 class="font_weight400 text_color_theme_sec">Sign in to Continue</h4>
		<ion-list>
		  <ion-item class="borderNone p0">
		    <ion-label stacked>Username</ion-label>
		    <ion-input type="text"></ion-input>
		  </ion-item>
		  <ion-item class="borderNone p0 relative">
		    <ion-label stacked>Password</ion-label>
		    <ion-input type="password"></ion-input>
		  </ion-item>
		  <ion-icon class="r_pass_sideshow relative floatRight" name="ios-eye"></ion-icon>
		</ion-list>
		<br>
		<button ion-button class="r_login_btn" full (click)="open_page('HomePage')">Login</button>
		<p class="text_color_theme_sec textCenter">Forgot Password</p>
	</div>
</ion-content>

<!-- ENDS-PAGE-CONTENTS -->
