page-signin {
	.r_page_wrapper{
		width: 100%;
		height: 100%;
		padding-left: 15px;
		padding-right: 15px;
		position: relative;
    	padding-top:60px;
		h3{
			font-size: 23px !important;
		}

		h4{
			padding-bottom: 15px;
			    font-size: 23px !important;
		}
		.list{
			.item-input{
				.item-inner{
				padding: 0px !important;
				border-bottom: 0.55px solid #ff8f00 !important;
				.input-wrapper{
					ion-label{
						color: #92a2b2 !important;
						font-size: 14px !important;
						}
					}
				}
			}
			.item-input-has-focus{
				.item-inner{
					border-bottom: 0.55px solid #ff8f00 !important;
					box-shadow: none !important;
				}
			}
		}
		.r_login_btn{
			background: #ff8f00 !important;
			color: #fff;
			font-weight:300;
			border-radius:8px;
			height:45px;
			text-transform: capitalize !important;
			font-size: 16px;
		}
		p{
			width: 100%;
			font-size: 16px;
			padding-top: 20px;
		}
	}
	.r_pass_sideshow{
		color: #dadada;
		font-size: 25px;
		bottom:30px;
	}
}
