<ion-menu [content]="content" >
  <ion-content class="theme_background">
    <div class="r_side_menu">
      <ion-list class="theme_background">
        <ion-item menuClose (click)="home()">
            Home
          <ion-icon name="ios-arrow-forward" item-end></ion-icon>
        </ion-item>
        <ion-item menuClose (click)="activeorder()">
            Active Order
          <ion-icon name="ios-arrow-forward" item-end></ion-icon>
        </ion-item>
        <ion-item menuClose (click)="buzzer()">
            Buzzer Notification
          <ion-icon name="ios-arrow-forward" item-end></ion-icon>
        </ion-item>
        <ion-item menuClose (click)="notification()">
            Buzzer Sound
          <ion-icon name="ios-arrow-forward" item-end></ion-icon>
        </ion-item>
        <ion-item menuClose (click)="terms()">
            Terms & Conditions
          <ion-icon name="ios-arrow-forward" item-end></ion-icon>
        </ion-item>
        <ion-item menuClose (click)="cookie()">
            Cookies Policy
          <ion-icon name="ios-arrow-forward" item-end></ion-icon>
        </ion-item>
        <ion-item menuClose (click)="privacy()">
            Privacy Policy
          <ion-icon name="ios-arrow-forward" item-end></ion-icon>
        </ion-item>
        <ion-item menuClose (click)="logout()">
            Logout
          <ion-icon name="ios-arrow-forward" item-end></ion-icon>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>