<!-- STARTS-HEADER -->

<ion-header class="nav_header theme_background">
<button ion-button menuToggle class="nav_btn floatLeft">
	 <ion-icon name="ios-menu"></ion-icon>
</button>
<div class="nav_header_title floatLeft font_semibold">
	Privacy Policy
</div>
<button ion-button class="nav_btn floatRight">
	 <!-- <ion-icon name="ios-menu"></ion-icon> -->
</button>
</ion-header>

<!-- ENDS-HEADER -->

<ion-content padding class="theme_white">
	<div class="r_page_wrapper">
		<p>1.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer </p>
		<p>2.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer </p>
		<p>3.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer </p>
		<p>4.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer </p>

	</div>
</ion-content>
